.box.box1 nav a {
    position: relative;
    padding: 3px 5px;

    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

    &:after, &:before {
        content:" ";
        width: 0;
        // height: 10px;
        position: absolute;
        border: 0px solid #fff;
        transition: all 1s;
    }
    &:after {
        // top: -1px;
        // left: -1px;
        // border-top: 2px solid whitesmoke;
        // border-left: 2px solid whitesmoke;
    }
    &:before {
        bottom: -1px;
        // right: -1px;
        border-bottom: 2px solid yellow;
        // border-right: 2px solid whitesmoke;
    }
    &:hover {
        // border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;

        &:before, &:after {
            width: 100%;
            // height: 100%;
        }
    }
}
