
*:hover {
    z-index: 2000;
    transition: all 1s;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    position: relative;
}

p {
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgba(46, 34, 34, 0.514);
    transition: ease 0.3s;
}

h1, h2, h3, p {
    cursor: default;
}

/* legend {
    font-size: 1.2em;
} */

.box {
    position: relative;
    padding: 10px 30px;
    margin: 2px;
}

.box.box1 {
    min-width: 101%;
}

.box1 {
    /* background-color: firebrick; */
    background-color: white;
    max-width: 500px;
    margin: -50px 0 +20px -24px;

    background: url(../media/splotch.png);
    background-repeat: no-repeat;
    background-position: 0 -20px;
}

.box .box.inner-box.overlay {
    margin-left: -20px;
    min-width: 101%;
}

.box1 .box.inner-box.overlay:hover {
    background: repeating-linear-gradient(
        180deg,
        /* transparent, */
        /* transparent 10px, */
        /* red 30px, */
        /* transparent 10px, */
        rgba(255, 0, 0, 0.075) 0,
        transparent
    );
    /* margin-left: -20px; */
    margin-bottom: +40px;

}

.box.box1 h1 {
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 2px black;
    margin-left: 20px;
}

.box.box1 nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 50px;

    border-radius: 0 0 10px 10px;

    /* background-color: rgba(0, 0, 0, 0.411); */
    background: repeating-linear-gradient(
        rgba(0, 0, 0, 0.555),
        transparent
    );
    max-width: 600px;
    margin: -30px 0 0 0;
    padding: 10px 0;
}

.box.box1 nav:hover {
    padding-bottom: +20px;
}

.box.box1 nav a {
    color: white;
    font-size: 1em;
    /* padding: 5px; */
}

.box.box1 nav a:hover {
    color: rgb(255, 226, 226);
    transition: ease 0.3s;
}

.box2 {
    background-color: rgb(24, 22, 22);
    color: burlywood;
    margin: -10px 0 0 3%;
    max-width: 624px;
    padding: 20px 40px;
    border-radius: 10px;

    box-shadow: 0 0 20px 1px goldenrod;

    z-index: 1000;
}

.box2 .inner-box {
    outline: 1px solid white;
    background-color: rgb(58, 149, 161);
    color: rgba(245, 245, 245, 0.692);
    max-width: 80%;
    padding: 1px 20px;
    margin-left: 20px;
}

.box .inner-box p {
    margin-top: -15px;
}

.box2 .inner-box:hover {
    color: whitesmoke;
    box-shadow: 1px 1px 10px 1px;
    margin-left: -10px;
    max-width: 95%;
    padding: +3px +20px +20px +40px;
}

.box2 .inner-box.first {
    background-color: rgb(205, 92, 92);
}

.box2 .inner-box.secondary {
    margin-top: -5px;
}

.box3 {
    background-color: antiquewhite;
    outline: 1px solid black;
    margin-top: -10px;
    max-width: 750px;
    border-radius: 0 0 10px 10px;

    box-shadow: 10px 12px 3px;
}

.box.box3:hover {
    padding: +20px +60px;
}


