
body {
}

main {
    position: relative;
}

p {
    font-size: 0.8em;
}

legend {
    font-size: 1.2em;
}

.box {
    position: relative;
    padding: 10px 30px;
    margin: 2px;
}

*:hover {
    z-index: 2000;
    transition: ease-in-out 1s;
}

.box.box1 {
    min-width: 101%;
}

.box1 {
    /* background-color: firebrick; */
    background-color: white;
    max-width: 500px;
    margin: 0 0 +20px -24px;
    /* padding-left: +64px; */
}

.box1:hover {
    background: repeating-linear-gradient(
        270deg,
        /* transparent, */
        /* transparent 10px, */
        /* red 30px, */
        /* transparent 10px, */
        red 10px,
        /* red 10px, */
        transparent
    );
    /* border-bottom: 5px ridge black; */
    margin-bottom: +40px;
}

.box.box1 h1 {
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 2px black;
    margin-left: 20px;
}

.box2 {
    background-color: rgb(24, 22, 22);
    color: burlywood;
    margin: -10px 0 0 3%;
    max-width: 624px;
    padding: 20px 40px;

    box-shadow: 0 0 20px 5px goldenrod;

    z-index: 1000;
}

.box2 .inner-box {
    background-color: rgb(58, 149, 161);
    color: whitesmoke;
    max-width: 80%;
    padding: 1px 20px;
    margin-left: 20px;
    opacity: 0.85;
}

/* .box.inner-box h1, .box.inner-box h2, .box.inner-box h3 {
    opacity: 1;
} */

.box2 .inner-box:hover {
    padding: +20px +40px;
    opacity: 1;
}

.box2 .inner-box.first {
    background-color: rgb(205, 92, 92);
    margin-left: 0;
    color: whitesmoke
}

.box2 .inner-box.secondary {
    margin-top: -5px;
}

.box3 {
    background-color: antiquewhite;
    outline: 1px solid black;
    margin-top: -10px;
    max-width: 750px;

    box-shadow: 10px 12px 3px;

    /* z-index: 5000; */
}

.box.box3:hover {
    padding: +20px +60px;

}


